#addon_bd_everypay .bg-icon {
    background-size: contain;
    background: transparent url('../../../media/images/addons/bd_everypay/logo.png') no-repeat center;
    border: none;
    background-size: 32px 32px;
}

#addon_bd_everypay .bg-icon i {
    display: none;
}