#addon_bd_maksekeskusinstalled .bg-icon, #addon_bd_maksekeskus .bg-icon {
    background-size: contain;
    background: transparent url('../../../media/images/addons/bd_maksekeskus/logo.png') no-repeat center;
    border: none;
    background-size: 32px 32px;
}

#addon_bd_maksekeskusinstalled .bg-icon i, #addon_bd_maksekeskus .bg-icon i {
    display: none;
}